<h2>Latest posts:</h2>
<br>
<% @results.each do |post| %>
  <p>
    <small>Author: <%= post.author %></small>
    <br />
    <br />
    <%= post.content%>
    <br />
    <br />
    Added at <%= post.created_at %>
    <br />
    <br />
    <a href="/details/<%= post.id%>">Comments</a>
  </p>
<% end %>
  <hr />

